<div class="site-footer">
  <div class="container">
    <div class="site-description"><%- themeConfig.siteDescription %></div>
    <% if (site.customConfig.is_reward || site.customConfig.is_friends || site.customConfig.is_mp) { %>
    <div class="footer-menu">
      <% if (site.customConfig.is_reward) { %>
      <ul class="give-areward">
        <% if (site.customConfig.weixin_reward) { %>
        <li>
          <h4 class="footer-title">微信支付二维码</h4>
          <img class="footer-img" src="<%= site.customConfig.weixin_reward %>" alt="微信支付二维码">
        </li>
        <% } %>
        <% if (site.customConfig.zhifubao_reward) { %>
        <li>
          <h4 class="footer-title">支付宝支付二维码</h4>
          <img class="footer-img" src="<%= site.customConfig.zhifubao_reward %>" alt="支付宝支付二维码">
        </li>
        <% } %>
      </ul>
      <% } %>
      <% if (site.customConfig.is_friends) { %>
      <div class="information">
        <h4 class="footer-title">友情链接</h4>
        <ul class="friends">
          <% for (let i = 0; i < site.customConfig.add_friend.length; i++) { %>
          <li class="friend-item">
            <a href="<%= site.customConfig.add_friend[i].friend_link %>">
              <%= site.customConfig.add_friend[i].friend_name %>
            </a>
          </li>
          <% } %>
        </ul>
      </div>
      <% } %>
      <% if (site.customConfig.is_mp) { %>
      <div class="media-platform">
        <h4 class="footer-title">微信公众号</h4>
        <img class="footer-img" src="<%= site.customConfig.media_platform %>" alt="公众号">
      </div>
      <% } %>
    </div>
    <% } %>
    <div class="footer-info">
      <ul class="copyright clearfix">
        <li>Powered by <a href="https://github.com/getgridea/gridea">Gridea</a></li>
        <li>Theme by <a href="https://github.com/fullstack-kingj/gridea-theme-smartisan">Smartisan</a></li>
        <li>Designed by <a href="https://jinyunlong.cc">KingJ</a></li>
      </ul>
      <ul class="icp clearfix">
        <% if (site.customConfig.icp) { %>
        <li>
          <a data-v-0e38ecc8="" href="http://beian.miit.gov.cn" target="_blank"><%- site.customConfig.icp %></a>
        </li>
        <% } %>
        <% if (site.customConfig.security) { %>
        <li class="public-security">
          <a href="<%- site.customConfig.security_url %>" target="_blank"><%- site.customConfig.security %></a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</div>

<script>
  hljs.initHighlightingOnLoad()
</script>