<div class="panel post-container">
  <h4 class="panel-title">文章列表</h4>
  <% posts.forEach(function(post) { %>
  <article class="post post-list">
    <a href="<%= post.link %>">
      <h2 class="post-title"><%= post.title %></h2>
    </a>
    <div class="post-info">
      <time class="post-time">
        发表于 · <%= post.dateFormat %> ·
      </time>
      <% post.tags.forEach(function(tag) { %>
      <a href="<%= tag.link %>" class="post-tag">
        # <%= tag.name %>
      </a>
      <% }); %>
    </div>
    <% if (themeConfig.showFeatureImage && post.feature) { %>
    <a href="<%= post.link %>" class="post-feature-image" style="background-image: url('<%= post.feature %>')">
    </a>
    <% } %>
    <div class="post-abstract">
      <%- post.abstract %>
    </div>
  </article>
  <% }); %>
  <%- include('./pagination') %>
</div>