<html>
<head>
  <%- include('./includes/head', { siteTitle: themeConfig.siteName }) %>
</head>
<body>
  <div class="main">
    <div class="main-content">
      <%- include('./includes/header') %>
      <div class="content container clearfix">
        <%- include('./includes/post-list') %>
        <%- include('./includes/sidebar') %>
      </div>
      <%- include('./includes/footer') %>
    </div>
  </div>
</body>
</html>