<html>
<head>
  <%- include('./includes/head', { siteTitle: `${post.title} | ${themeConfig.siteName}` }) %>
</head>
<body>
  <div class="main">
    <div class="main-content">
      <%- include('./includes/header') %>

      <div class="content container clearfix">
        <div class="panel post-container">
          <h4 class="panel-title">文章内容</h4>
          <article class="post post-detail">
            <h1 class="post-title">
              <%= post.title %>
            </h1>
            <div class="post-info">
              <time class="post-time">
                发表于 · <%= post.dateFormat %> ·
              </time>
              <% post.tags.forEach(function(tag) { %>
              <a href="<%= tag.link %>" class="post-tag">
                # <%= tag.name %>
              </a>
              <% }); %>
            </div>

            <% if (themeConfig.showFeatureImage && post.feature) { %>
            <div class="post-feature-image" style="background-image: url('<%= post.feature %>')">
            </div>
            <% } %>
            <div class="post-content">
              <%- post.content %>
            </div>
          </article>

          <div class="pagination-container">
            <% if (post.prevPost && !post.hideInList) { %>
            <a class="prev-btn" href="<%= post.prevPost.link %>">上一篇</a>
            <% } %>

            <% if (post.nextPost && !post.hideInList) { %>
            <a class="next-btn" href="<%= post.nextPost.link %>">下一篇</a>
            <% } %>
          </div>

          <% if (typeof commentSetting !== 'undefined' && commentSetting.showComment) { %>
          <% if (commentSetting.commentPlatform === 'gitalk') { %>
          <%- include('./includes/gitalk') %>
          <% } %>

          <% if (commentSetting.commentPlatform === 'disqus') { %>
          <%- include('./includes/disqus') %>
          <% } %>
          <% } %>
        </div>
        <%- include('./includes/sidebar') %>
      </div>
      <%- include('./includes/footer') %>
    </div>
  </div>
</body>
</html>